.landing-container {
  @include grid-column(12);
  background-color: $landing-color;
  padding: $large-spacing 0;
}

.content-container {
  margin-bottom: $margin;
  @include grid-column(12);
  @include for-size(small-up) {
    @include grid-column(10);
    @include grid-push(1);
  }
  @include for-size(medium-up) {
    @include grid-column(8);
    @include grid-push(2);
  }
  @include for-size(large-up) {
    @include grid-column(6);
    @include grid-push(3);
  }
  @include for-size(larger-up) {
    @include grid-column(4);
    @include grid-push(4);
  }
  section {
    margin-top: $medium-spacing;
    padding: $small-spacing 0;
    &:not(:last-child) {
      border-bottom: 2px dashed $button-color;
    }
  }
}

.flex-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
}

.v-flex-container {
  display: flex;
  flex-direction: column;
}

.centered {
  text-align: center;
}

.inline {
  display: inline-block;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}
