[type=reset],
[type=submit],
button,
html [type=button],
.button {
  padding: $small-spacing;
  margin: $tiny-spacing;
  cursor: pointer;
  background-color: $button-color;
  color: lighten($font-color, 25%);
  border-radius: .3em;
  font-size: 1.3rem;
  font-weight: 700;
  font-family: $default-font-family;
  text-decoration: none;
  border: 0;
}

input:not([type]),
input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="url"],
input[type="text"] {
  border: 0;
  padding: $tiny-spacing;
}

button,
input,
optgroup,
select,
textarea {
  font-family: $default-font-family;
}

fieldset {
  margin: 0;
}

legend {
  text-align: center;
}

input [type=checkbox],
input [type=radio] {
  padding: 0 $tiny-spacing;
}
