.main {
  @include xy-grid;
  justify-content: center;
}

.profile {
  @include xy-grid;
  width: 80vw;
}

.full-height {
  @include xy-cell-block-container;
  height: 100vh;
  justify-content: center;
}

.top-bar {
  text-align: center;
  width: 100%;
}

.search {
  display: flex;
}

.game {
  width: 33%;
}
