#root {
  @include xy-grid-container(80vw);
}

.main {
  @include xy-grid;
  justify-content: center;
}

.profile {
  @include xy-grid;
}

.full-height {
  @include xy-cell-block-container;
  height: 100vh;
  justify-content: center;
}

.top-bar {
  text-align: center;
  width: 100%;
}

.search {
  @include xy-grid;
  justify-content: center;
}

.game {
  width: 33%;
}
